/*
* @Author: acer
* @Date:   2017-08-17 15:59:21
* @Last Modified by:   acer
* @Last Modified time: 2017-08-17 16:03:35
*/

*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}